html {
    height: 100%;
}

body {
    background-image: url(images/TeamWork.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

  body {
      font-family: 'Roboto', 'sans-serif';
      
  }

  p{
      font-size:1em;
  }

  input[type="text"],
  input[type="email"]{
    position: relative;
    width: 20%;
}

footer p{
    font-size: 1.5ex;
    position: relative;
    bottom: -10ex;
}

p label input:required{
    background-color: skyblue;
    border: 2px solid black;
}

input:focus{
    border-style: solid;
    border-width:thin;
}

  .join-us-box {
    height: 50%;
    width: 60%;
    border-radius: 25px;
    background-color: #666666;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    opacity: 0.9;
    padding: 10px;
    overflow: auto;
}



