.link-to-letters {
    font-family: 'Roboto', 'sans-serif';
    font-size: 2vw; 
    background-color: transparent;
    text-decoration: none;
}

body {
    background-image: url(images/help.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.send-letter-box {
    height: 35%;
    width: 60%;
    border-radius: 25px;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    opacity: 0.9;
    padding: 10px;
    overflow: auto;
}

label {
    margin-left: 20%;
    font-family: 'Roboto', 'sans-serif';
}

meter {
    width: 40%;
}