.link-to-letters {
    font-family: 'Roboto', 'sans-serif';
    font-size: 90%;
    background-color: transparent;
    text-decoration: none;
}

body {
    background-image: url(images/help.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.send-letter-box {
    height: 50%;
    width: 60%;
    border-radius: 25px;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    opacity: 0.9;
    padding: 10px;
    overflow: auto;
}

label {
    margin-left: 20%;
    font-family: 'Roboto', 'sans-serif';
}

meter {
    width: 40%;
}

.hearts {
    border: 20px solid pink;
    border-image-source: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/652/hearts-border-image.png);
    border-image-slice: 20 22;
    border-image-repeat: round;
    width: 54vw;
    height: 12vh;
    margin: auto;
    float: center;
    box-sizing: border-box;
  }
