html {
    height: 100%;
}

body {
    background-image: url(images/traveller1.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

  body {
      font-family: 'Roboto', 'sans-serif';
      
  }

  p{
      text-align:center;
      font-size:1em;
  }

  input[type="number"],
  input[type="text"]{
      width:20%;
  }

  p label:only-child{
      text-decoration: underline;
  }

  p label input:disabled{
      background-color: lightcoral;
  }

  .question-continent option:first-child{
   font-weight:bold;
  }

  .question-continent option:nth-child(2n){
    color: red ;
   }

   .question-continent option:nth-last-child(3){
    font-weight:bold; 
    color:blue;
   }

   .question-continent option:last-child{
    font-style: oblique;
   }

   p input:last-of-type{
       color: rgb(19, 153, 19);
   }

   p label input:checked{
      outline: 1px dotted rgb(9, 194, 9);
   }

  .solutions-box {
    height: 80%;
    width: 60%;
    border-radius: 25px;
    background-color: #666666;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    opacity: 0.9;
    padding: 10px;
    overflow: auto;
}



