body {
    background: -webkit-radial-gradient(center, white, rgb(19, 172, 19));
}

/*.about-us-box {
    height: 70%;
    width: 60%;
    border-radius: 25px;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    opacity: 0.75;
    padding: 10px;
}*/

.about-us-box {
    height: 80%;
    width: 60%;
    border-radius: 25px;
    background: -webkit-gradient(linear, center top, center bottom, color-stop(70%, rgba(255, 255, 255, 0.5)), color-stop(87%, rgba(78, 177, 78, 0.5)), color-stop(95%, rgba(19, 172, 19, 0.5)));
    background: -moz-linear-gradient(top center, rgba(255, 255, 255, 0.5) 60%, rgb(78, 177, 78) 80%, rgb(19, 172, 19) 100%);
    background: linear-gradient(top bottom, rgba(255, 255, 255, 0.5) 60%, rgb(78, 177, 78) 80%, rgb(19, 172, 19) 100%);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.75;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

mark {
    background-color: rgb(25, 201, 63);
}

aside {
    float: right;
}

#facebook-pic {
    position: absolute;
    left: 48%;
    height: 3vw;
    width: 3vw;
    border-radius: 10px
}

#github-pic {
    position: absolute;
    left: 41%;
    height: 3vw;
    width: 3vw;
    border-radius: 10px
}

#mail-pic {
    position: absolute;
    left: 54%;
    height: 4wh;
    width: 4vw;
    border-radius: 10px;
    bottom: 6px
}

.content-wrap {
    padding-bottom: 2.5rem
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    float: right;
    background-color: white;
    margin: 0;
    padding: 1%;
    opacity: 0.7;
}

#first_step{
    position: absolute;
    bottom:3em;
    height:3em;
    width:100%;
    font-size:1em;
    text-align: center;
    text-shadow:  -2px 2px 1px white;
    color: darkblue;
    font-family: Roboto, sans-serif;
    bottom: translate(0,1em);
}

#clicker{
    background-color: transparent;
    font-size: 1.5em;
    border:none;
}

#optional{
    background-color: transparent;
    font-size: 1.5em;
    border:none;
}

aside {
    width: 40%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: left;
    /* box-shadow: inset 5px 0 5px -5px  rgb(25, 201, 63); */
    font-style: italic;
    color: rgb(25, 201, 63);
    ;
}

aside>p {
    margin: .5rem;
}

@media print {
    aside {
        box-shadow: inset 5px 0 5px -5px black;
        font-style: normal;
        color: black;
    }

    mark {
        background-color: yellow;
    }
}

.some-columns {
    -webkit-column-count: 2;
    /* Chrome, Safari, Opera */
    -moz-column-count: 2;
    /* Firefox */
    column-count: 2;

    -webkit-column-gap: 20px;
    /* Chrome, Safari, Opera */
    -moz-column-gap: 20px;
    /* Firefox */
    column-gap: 20px;

    -webkit-column-rule: 4px double rgb(3, 83, 3);
    /* Chrome, Safari, Opera */
    -moz-column-rule: 4px double rgb(3, 83, 3);
    /* Firefox */
    column-rule: 4px double rgb(3, 83, 3);

}

.shadow-element {
    width: 300px;
    height: 100px;
    background-color: rgb(183, 241, 168);
    position: relative;
    box-shadow: 10px 5px 5px green;
    border-radius: 10px
}

#join-us {
    text-decoration: none;
    color: purple;
}


